<!--Bootstrap CSS-->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
  crossorigin="anonymous"
/>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>


<div class="container-fluid" href="/styles.css" style="background-color: aliceblue;">
    <header style="border: black; border-width: 2px; border-style: solid">
      <h1>Divvi Web Application</h1>
      <i
        class="fa fa-cloud"
        style="color: grey; font-size: 40px; text-shadow: 2px 2px 4px #000000"
      ></i>
    </header>
    <br>
  <div class="row">
  <body>
    <form>

      <div ngbDropdown *ngIf="userGroups">

        <button class="btn btn-secondary" id="dropdown" ngbDropdownToggle>Groups</button>

          <div ngbDropdownMenu="dropdown">

            <ng-container *ngFor="let group of userGroups.groups">
              <button ngbDropdownItem (click)="groupSelectBtn($event)" id="{{group.id}}">{{group.name}}</button>
            </ng-container>

          </div>
      </div>

      <br>
      <button class="btn btn-secondary" (click)="refreshButton()">
        Refresh
      </button>



    <div class="row">
      <h2 class="col-md-6 float-left">Existing Groups:</h2>

      <h2 class="col-md-6 float-right">Pending Transactions:</h2>
      <hr />
      <div class="col-md-6">
        <!--This table displays the group preloaded from the ngOnIt function in the app component. -->
        <table
          class="table table-hover table-striped table-sm"
          style="float: left;"
          *ngIf="groupUsers"
        >
          <thead class="table-dark">
            <tr class="text-center">
              <th scope="col">Group Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="groupUsers" class="table-light text-center">
              <td>{{ groupUsers.name }}</td>
            </tr>
          </tbody>
          <thead class="table-dark text-center">
            <tr>
              <th scope="col">User</th>
              <th scope="col">Balance</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let user of groupUsers.users"
              class="table-light text-center"
            >
              <td>{{ user.name }}</td>
              <td>{{ user.balance.toFixed(2) }}</td>
            </tr>
          </tbody>
        </table>

        <!--Beginning of addGroup/addUserToGroup buttons/logic-->
        <button class="btn btn-primary" (click)="showGroupAddInput()">
          Click to create a group
        </button>
        <div *ngIf="addGroup" id="evenshow">
          <p style="text-align: left">
            Please enter the name of the group you would like to add:
            <input
              id="groupName"
              name="groupName"
              type="text"
              placeholder="Group Name"
              [(ngModel)]="groupName"
            />
          </p>
          <p style="text-align: left">
            Please enter the group number:
            <input
              id="groupNumber"
              name="groupNumber"
              type="number"
              placeholder="groupNumber"
              [(ngModel)]="groupNumber"
            />
          </p>
          <button
            class="btn btn-success btn-sm col-md-2"
            style="margin-right: 10px"
            (click)="createGroup()"
          >
            Create group
          </button>
          <button
            class="btn btn-danger btn-sm col-md-2"
            (click)="showGroupAddInput()"
          >
            Click to cancel
          </button>
        </div>

        <br />
        <br />

        <button class="btn btn-primary" (click)="showUserAddInput()">
          Click to add member to group
        </button>
        <div *ngIf="addUser" id="evenshow">
          <p style="text-align: left">
            Please enter the username of the member you want to add to the
            group:
            <input
              id="name"
              name="username"
              type="text"
              placeholder="Username"
              [(ngModel)]="name"
            />
          </p>
          <p style="text-align: left">
            Please enter the name of the group you would like to be added
            to:
            <input
              id="groupName"
              name="groupName"
              type="text"
              placeholder="Group Name"
              [(ngModel)]="groupName"
            />
          </p>
          <button
            class="btn btn-success btn-sm col-md-2"
            style="margin-right: 10px"
            (click)="addUserToGroup()"
          >
            Add member to group
          </button>
          <button
            class="btn btn-danger btn-sm col-md-2"
            (click)="showUserAddInput()"
          >
            Click to cancel
          </button>
        </div>

        <!--End of addGroup/addUserToGroup buttons/logic-->

        <br />
        <br />

        <!--Beginning of expense buttons/logic-->
        <form id="createNewExpense">
          <button class="btn btn-primary" (click)="showNewExpense()">
            Click to Create a New Expense
          </button>

          <!-- This Div contains the entries required to create a new expense with the name, description, and amount of the expense -->
          <div
            *ngIf="newExpense"
            class="row container-fluid col-md-6"
            id="evenshow"
          >
            <p class="h4">Create a New Expense</p>
            <label>Enter a Name For the Expense: </label>
            <input
              id="Expense Name"
              placeholder="Expense Name"
              type="text"
              name="Expense"
              [(ngModel)]="expenseName"
            />
            <br />
            <br />
            <label>Enter a Description For the Expense: </label>
            <input
              id="Expense Description"
              placeholder="Expense Description"
              type="text"
              name="Expense"
              [(ngModel)]="expenseDesc"
            />
            <br />
            <br />
            <label>Enter the Amount You Would Like to Split: </label>
            <input
              id="Expense"
              placeholder="Expense Amount"
              type="number"
              name="payment"
              [(ngModel)]="payment"
            />
            <br />
            <button
              class="btn btn-success btn-sm"
              style="margin-right: 10px; margin-top: 15px"
              (click)="showPaymentOptions()"
            >
              Click to Create New Payment
            </button>
            <button
              class="btn btn-danger btn-sm"
              style="margin-top: 15px"
              (click)="cancelShowNewExpense()"
            >
              Click to cancel
            </button>
          </div>

          <div
            *ngIf="showPayments"
            class="row container-fluid col-md-6"
            id="evenshow"
          >
          </div>
        </form>
        <br />

        <br />
        <br />
      </div>
        <!--End of expense buttons-->



      <!--This is the pending transactions table - currently stored in the front end only.-->
      <div class="col-md-6 float-right">
        <h2 style="font-family: 'Ubuntu', sans-serif; font-size: medium; background-color: black; color: white; padding-left: 15px; font-weight: bold;">
          Expenses You Owe
        </h2>

        <div style="height:20px;">&nbsp;</div>
        <table class="table table-hover table table-striped" style="float: right">
          <thead class="table-dark">
            <tr class="text-center">
              <th scope="col">Requestor</th>
              <th scope="col">Expense Name</th>
              <th scope="col">Expense Description</th>
              <th scope="col">Amount Owed</th>
              <th scope="col">Has Paid?</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let transaction of transactions"
              class="table-danger text-center"
            >
              <ng-container *ngIf="transaction.userID === authUserId">
                <td>{{ transaction.creatorName }}</td>
                <td>{{ transaction.expenseName }}</td>
                <td>{{ transaction.expenseDesc }}</td>
                <td>{{ transaction.amountOwed.toFixed(2) }}</td>
                <td>
                  <input
                    type="checkbox"
                    id="{{ transaction.transactionID }}"
                    name="isAmountPaid"
                    (change)="onPaidChange($event)"
                  />
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
        <h2>Expenses You Requested</h2>
        <table class="table table-sm table-striped table-bordered table-md">
          <thead class="table-dark">
            <tr class="text-center">
              <th scope="col">User Requested</th>
              <th scope="col">Expense Name</th>
              <th scope="col">Expense Description</th>
              <th scope="col">Amount Owed</th>
              <th scope="col">Has Paid?</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let transaction of transactions"
              class="table-success text-center"
            >
              <ng-container *ngIf="transaction.creatorID === authUserId">
                <ng-container *ngIf="transaction.debtorName != creatorName">
                  <td>{{ transaction.debtorName }}</td>
                  <td>{{ transaction.expenseName }}</td>
                  <td>{{ transaction.expenseDesc }}</td>
                  <td>{{ transaction.amountOwed.toFixed(2) }}</td>
                  <td>
                    <input
                      type="checkbox"
                      id="{{ transaction.transactionID }}"
                      name="isAmountPaid"
                      (change)="onPaidChange($event)"
                    />
                  </td>
                </ng-container>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    </form>

    <br />
    <br />
    <br />
    <br />
    <br />

  </body>
  </div>
</div>
