
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->t
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class = "container" href="/styles.css">
  <header style= "border: black; border-width:2px; border-style:solid;">
    <h2>Divvi Web Application</h2>
    <i class="fa fa-cloud" style="color:grey; font-size:60px;text-shadow:2px 2px 4px #000000;"></i>
  </header>
  <body>
  <form>
  <div class="row">
  <h2 style="text-align:left;">Existing Groups:</h2>
  <hr>
    <div class="col-md-6">
      <!--This table displays the group preloaded from the ngOnIt function in the app component. -->
  <table class="table table-responsive table-striped table-bordered table-sm" *ngIf="groupUsers">
    <thead class="table-dark">
    <tr>
      <th scope="col">Group Name</th>
      <th scope="col">Number</th>
      <th scope="col">ID</th>
      <th scope="col">Users:</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="groupUsers">
      <td>{{groupUsers.name}}</td>
      <td>{{groupUsers.number}}</td>
      <td>{{groupUsers.id}}</td>
    </tr>
    </tbody>
    <thead class="table-dark">
    <tr>
      <th scope="col">User</th>
      <th scope="col">Balance</th>
      <th scope="col">Group ID</th>
      <th scope="col">ID</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of groupUsers.Users">
      <td>{{user.name}}</td>
      <td>{{user.balance.toFixed(2)}}</td>
      <td>{{user.groupId}}</td>
      <td>{{user.id}}</td>
    </tr>
    </tbody>
    </table>
    </div>


    <!--This is the pending transactions table - currently stored in the front end only.-->
    <div class="col-md-6 float-right">
    <h4>Pending Transactions:</h4>
    <table class="table table-responsive table-striped table-bordered table-sm ">
      <thead class="table-dark">
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Expense Name</th>
        <th scope="col">Expense Description</th>
        <th scope="col">Amount Owed</th>
        <th scope="col">Is Amount Paid?</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of pendingTransactions">
          <td>{{transaction.groupUsers}}</td>
          <td>{{transaction.expenseName}}</td>
          <td>{{transaction.expenseDesc}}</td>
          <td>{{transaction.payment.toFixed(2)}} </td>
          <td><input type="checkbox" id="isAmountPaid"></td>
        </tr>
      </tbody>
    </table>
   <!-- <button type="submit"></button> -->
    </div>
  </div>

<!-- Currently not functionable with the database - However, this is where we will add members to groups-->

    <button class="btn btn-primary"(click)="showUserAddInput()">Click to add member to group</button>
    <div *ngIf="addUser" class="row container-fluid col-md-6"  id="evenshow" >
      <p style="text-align: left;">Please enter the username of the member you want to add to the group: <input id="name" name="username" type="text" placeholder="Username" [(ngModel)]="name"></p>
      <p style="text-align: left;">Please enter the group ID of the group you would like to be added to: <input id="groupID" name="group" type="text" placeholder="groupName" [(ngModel)]="groupName"></p>
      <button class="btn btn-success btn-sm col-md-2" (click)="addUserToGroup()">Add member to group</button>
      <button class="btn btn-danger btn-sm col-md-2"(click)="showUserAddInput()">Click to cancel</button>
    </div>
  </form>
  <br>

<div class="col-xs-6">
<form id="createNewExpense" >
  <button class="btn btn-primary"(click)="showNewExpense()">Click to Create a New Expense</button>


  <!-- This Div contains the entries required to create a new expense with the name, description, and amount of the expense -->
    <div *ngIf="newExpense" class="row container-fluid col-md-6"  id="evenshow" >
  <p class="h4 mb-4 float-left">Create a New Expense</p>
  <label >Enter a Name For the Expense:   </label>
  <input id="Expense Name" placeholder = "Expense Name" type="text" name="Expense" [(ngModel)] = "expenseName">
  <br>
  <br>
  <label >Enter a Description For the Expense:   </label>
  <input id="Expense Description" placeholder = "Expense Description" type="text" name="Expense" [(ngModel)] = "expenseDesc">
  <br>
  <br>
  <label >Enter the Amount You Would Like to Split:   </label>
  <input id="Expense" placeholder = "Expense Amount" type="number" name="payment" [(ngModel)] = "payment">
  <br>
  <button class="btn btn-success btn-sm col-md-4"(click)="showPaymentOptions()">Click to Create New Payment</button>
      <button class="btn btn-danger btn-sm col-md-3"(click)="cancelShowNewExpense()">Click to cancel</button>
  </div>




  <br>
  <br>

  <!--This div is where the user selects their payment option. When selected - on the "click" the toggle method will be called to show inputs for the various splitting methods-->

  <div *ngIf="showPayments" class="row container-fluid col-md-6"  id="evenshow" >
  <label>Select how you want to split your payments: </label>
  <br>
  <!--Because all we need is the split amount entered previously, we can simply call the evenly method on this click-->
  <button  mat-raised-button (click)="Evenly()">Evenly</button>


  <button  mat-raised-button (click)="toggleFixedShow()">Fixed Amount</button>
  <button  mat-raised-button (click)="togglePercentShow()">Percentage</button>
  </div>
</form>
</div>

    <!--First, the *ngIf will read if the fixed method was call, and if so this will display x amount of inputs for each user in a group. The index
    allows us to iterate through each group member and save values pertaining to each group member. this is the same for the percentage split.-->
    <div *ngIf="fixedIsShown" class="row container-fluid"  id="fixedshow" >
      <ng-container *ngFor="let user of groupUsers.Users">{{user.name}} <input id="{{user.id}}" step="0.01" placeholder = "{{initialValue.toFixed(2)}}" type="number" name="fixedamt" required (change)="onFixedChange($event)"> <br> </ng-container>

      <button  mat-raised-button (click)="Fixedamount()">Split Payment</button>
  </div>
  <div *ngIf="percentIsShown" class="row container-fluid"  id="percentshow" >
    <ng-container *ngFor="let user of groupUsers.Users"> {{user.name}}<input id="{{user.id}}" type="number" step="0.01" placeholder="{{initialValue.toFixed(2)}}" required name="distribution" (change)="onPercentChange($event)"> </ng-container>

      <button  mat-raised-button (click)="Percentage()">Split Payment</button>
  </div>


  <br>
  <br>
  <br>
  <br>
  <br>
  <button  mat-raised-button (click)="clearGroup()">Clear Group</button>
  <button  mat-raised-button (click)="clearAmountOwed()">Clear Amount Owed</button>
